/*  METODOLOGÍA DE NOMBRADO: kebab-case*/
/*Reset de CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main*/

main{
    min-height: 450px;
}

/*Header*/

header img {
  max-width: 30%;
}

/*Footer*/
footer{
    background-color:black;
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-align: center;
}

.redes-sociales {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.redes-sociales li {
  display: inline-block;
}

.redes-sociales a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.redes-sociales a:hover {
  color: #1da1f2; 
}

/*Títulos*/

h1, h2{
    text-align: center;
    padding: 1%;
}

/*Página Inicio*/

.texto-inicio {
  max-width: 30rem;
  font-size: 16px;
  color: #333;
}

.imagen-inicio{
  max-width: 100%;
  height: auto;
  display: block; 
}

/*Página Último Trabajo*/

.texto-ultimo-trabajo {
  max-width: 30rem;
  font-size: 16px;
  color: #333;
}

.imagen-logo-pmi {
    display: flex;
    width: 25rem;
    margin-inline: auto;
}

/*Página conocimientos*/

.estilo-conocimientos {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.estilo-conocimientos:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.estilo-conocimientos p {
  color: #666;
}

/*Página carrera*/

.timeline-carrera{
  max-width: 100%;
}

/*Contratame*/

.contratame {
  background-color: white; 
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
  box-shadow: 0 0 30px 15px rgba(100, 100, 100, 0.6), 0 0 60px 30px rgba(255, 189, 31, 0.4); 
}

.texto-contratame {
  display: flex;
  color: #333;
  align-items: center;
  text-align: center;
}

/*responsive-hasta 350px*/

.navbar-toggler {
  margin-left: auto; 
}

.collapse .navbar-nav {
  text-align: right; /* Alinear las opciones del menú a la derecha */
}

@media (max-width: 992px) {
  .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      background: #fff; 
      z-index: 1050;
      width: 100%; 
      padding: 1rem;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
  }
}


.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 480px) {
  body {
      font-size: 10px;  /* Fuente aún más pequeña */
  }

  .navbar {
      padding: 10px;  /* Reducir aún más el espacio en el navbar */
  }

  .navbar-toggler {
      font-size: 18px;  /* Aumentar el tamaño del botón hamburguesa */
  }

}
